@charset "utf-8";
/* CSS Document */

/* IMPORTANT NOTES

COLORS:
MAROON: #990000
DARK MAROON: #430000
GOLD: #B29D6C
BC GRAY: #444444
BLUE: #05506d 
LITE BLUE: #32758f

*/

body {
    background: #fff 0% 0%;
    font-family: Arial, sans-serif;
    color: #666;
    font-size: 14px;
    padding: 0;
    line-height: 1.4;
}

/* TEMPORARY CSS TO CREATE BC MANDATED HEADER/FOOTER */

#bcheader {
    height: 45px;
    display: inline-block;
    width: 100%;
    background: #790009 no-repeat 100% 0%;
    border-bottom: 1px solid #B29D6C;
}

#bcheader img {
    padding: 0;
    margin: 0 0 0 50px;
}

#fakebctitle {
    position: absolute;
    left: -5px;
    top: -55px;
    z-index: 999;
}

#bcfooter {
    height: 45px;
    display: none;
    width: 100%;
    background: #790009;
    padding: 0;
    margin: 0;
    border-top: 1px solid #B29D6C;
}

#bcfooter img {
    padding: 0;
    margin: 0 0 0 50px;
}

#beta-ribbon {
    font-size: 1.15em;
    position: absolute;
    top: 34px;
    right: -65px;
    width: 280px;
    margin-left: 5em;
    padding: 18px;
    text-align: center;
    background-color: yellow;
    z-index: 99999;
    -ms-transform: rotate(45deg); /* IE 9 */
    -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
    transform: rotate(45deg);
}

/* THE BASICS */

p, h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
}

a, a:visited, .ui-widget-content a, .ui-widget-content a:visited {
    color: #990000;
    font-weight: normal;
}

a:hover, a:active, a:focus, .ui-widget-content a, .ui-widget-content a:active {
    color: #990000;
    text-decoration: underline;
}

/*THIS IS A TEMPORARY STYLE, USED TO INDICATE THAT A LINK IS NOT CLICKABLE */
.grayed {
    color: #ababab !important;
    cursor: default;
}

.yamm .dropdown-menu li > a.grayed:hover {
    background: #ffffff;
}

b, strong {
    font-weight: bold;
}

i, italics {
    font-style: italic;
}

h1 {
    color: #05506d;
    font-size: 25px;
    font-weight: normal;
    margin: 0 0 10px;
    padding: 0;
    text-transform: uppercase;
}

h2 {
    color: #05506d;
    font-size: 20px;
    font-weight: normal;
    margin: 5px 0 10px 0;
    padding: 0;
    text-transform: uppercase;
}

h3 {
    color: #05506d;
    font-size: 18px;
    font-weight: normal;
    margin: 5px 0 10px 0;
    padding: 0;
    text-transform: uppercase;
}

h4, h5, h6 {
    color: #05506d;
    font-size: 16px;
    font-weight: normal;
    margin: 5px 0 10px !important;
    padding: 0;
    text-transform: none;
}

ul, ol {
    margin: 0 0 10px 0;
    padding: 0 0 0 30px;
}

img.center {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

table, table.ckeditor-table {
    width: 100%;
    border-collapse: collapse;
}

table.ckeditor-table {
    width: 100% !important;
}

table, th, td {
    border: 1px solid #DADADA;
}

td, th {
    padding: 3px;
}

th {
    background-color: #E9E9E9;
}

#cke_12, #cke_13 /* THIS HIDES THE FONT AND FONT SIZE BUTTONS IN SPRINGSHARE'S EDITOR */      {
    display: none;
}

.clear:before,
.clear:after {
    content: "";
}

.clear:after {
    clear: both;
}

.accessibility-text {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}


/*HEADER CODE */

#header {
    width: 100%;
    min-height: 100px;
    margin: 0 auto;
    padding: 0;
    position: relative;
}

@media ( max-width: 1199px ) {
    #header {
        min-height: 130px;
    }
}

@media ( max-width: 768px ) {
    #header {
        border-bottom: 1px solid #DADADA;
        padding: 0 0 10px;
        width: 100%;
    }
}

#librarytitle {
    position: absolute;
    left: 15px;
    top: 5px;
    z-index: 999;
}
@media ( max-width: 768px ) {
    #librarytitle {
        left: 5px;
        z-index: 0;
}}

#librarytitle a h1 {
    background: url("/theme/img/title_beta.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    display: block;
    float: left;
    height: 70px;
    text-indent: -9999px;
    width: 325px;
}

#motto {
    position: absolute;
    display: block;
    left: 15px;
    top: 75px;
}
@media ( max-width: 768px ) {
    #motto {
        left: 5px;
}}

#motto p {
    background: url("/theme/img/value.png") no-repeat;
    height: 20px;
    width: 228px;
    margin: 0;
    text-indent: -9999px;
}

#fullpagewrapper {
    width: 1200px;
    margin: 0px auto;
    position: relative;
    z-index: 100;
}

@media ( max-width: 1199px ) {
    #fullpagewrapper {
        width: 100%;
        min-width: 320px;
        margin: 0 auto;
    }
}

/* EXPANDING SEARCH CSS */

.sb-search {
    position: absolute;
    width: 0%;
    min-width: 50px;
    height: 50px;
    overflow: hidden;
    -webkit-transition: width 0.3s;
    -moz-transition: width 0.3s;
    transition: width 0.3s;
    -webkit-backface-visibility: hidden;
    top: 0px;
    right: 15px;
    z-index: 100;
}

.sb-search-input {
    position: absolute;
    top: 0;
    right: 0;
    border: 2px solid #B29D6C;
    outline: none;
    background: #fff;
    width: 25%;
    height: 50px;
    margin: 0;
    z-index: 10;
    padding: 0 0px 0px 10px;
    font-family: inherit;
    font-size: 20px;
    color: #666;
}
@media ( max-width: 1199px ) {
    .sb-search-input {
        width: 50%;
}}

@media ( max-width: 768px ) {
    .sb-search-input {
        width: 100%;
}}

.sb-search-input::-webkit-input-placeholder {
    color: #666;
}

.sb-search-input:-moz-placeholder {
    color: #666;
}

.sb-search-input::-moz-placeholder {
    color: #666;
}

.sb-search-input:-ms-input-placeholder {
    color: #666;
}

.sb-icon-search,
.sb-search-submit {
    width: 50px;
    height: 50px;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    padding: 0;
    margin: 0;
    line-height: 60px;
    text-align: center;
    cursor: pointer;
}

.sb-search-submit {
    background: #fff; /* IE needs this */
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; /* IE 8 */
    filter: alpha(opacity=0); /* IE 5-7 */
    opacity: 0;
    color: transparent;
    border: none;
    outline: none;
    z-index: -1;
}

.sb-icon-search {
    color: #fff;
    background: #B29D6C url("/theme/img/librarysearch.png") no-repeat 0 0;
    z-index: 90;
    font-size: 22px;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    -webkit-font-smoothing: antialiased;
}

.sb-icon-search:before {
    /*content: "";*/
}

/* Open state */
.sb-search.sb-search-open,
.no-js .sb-search {
    width: 100%;
}

.sb-search.sb-search-open .sb-icon-search,
.no-js .sb-search .sb-icon-search {
    background: #B29D6C url("/theme/img/librarysearch_hover.png") no-repeat 0 0;
    color: #fff;
    z-index: 11;
}

.sb-search.sb-search-open .sb-search-submit,
.no-js .sb-search .sb-search-submit {
    z-index: 90;
}

/* UNDER HEADER */

.breadcrumb {
    background-color: transparent;
    list-style: none outside none;
    margin: 11px 0 0 0;
    padding: 0px 5px;
    max-width: 599px;
}

.breadcrumb > .active {
    color: #666;
    font-weight: normal;
}

.pageurl {
    color: #666;
    float: right;
    max-width: 599px;
}

@media ( max-width: 768px ) {
    .pageurl {
        color: #666;
        float: none;
        max-width: 599px;
        margin: 0 0 0 5px;
    }
}

#guidetitle {
    padding: 0 0 0 0px;
    margin: 0px 0 15px 0;
}

#guidetitle h1 {
    font-size: 30px;
    text-transform: uppercase;
    padding: 0px;
    margin: 5px 0px;
    display: inline-block;
}

#guidetitle h2 {
    font-size: 30px;
    display: inline-block;
}

#guidetitle p {
    font-size: 30px;
    color: #CCCCCC;
    padding: 0;
    margin: 0 10px;
    display: inline-block;
}

.colon {
    font-size: 30px;
    color: #990000;
    display: inline-block;
}

#s-lg-guide-description {
    display: none;
}

#s-lg-guide-tabs-title-bar {
    padding: 0px;
    margin: 0 0 15px 0;
}

.view-mode #s-lg-guide-tabs-title-bar {
    padding: 0px;
    margin: 0 0 0px 0;
    border-top: 0px;
}

.pad-top-med
/* THIS OVERWRITES A DIV THAT DOES NOT APPEAR, BUT STILL CAUSES PADDING ISSUES.*/       {
    padding-top: 0px;
}

#midlevelcontainer {
    width: 1200px;
    display: block;
    background: #fff;
    margin: 0 auto;
    padding: 0 15px;
}

@media ( max-width: 1199px ) {
    #midlevelcontainer {
        width: 100%;
        padding: 0 5px;
    }
}

.mainhomepage #midlevelcontainer {
    margin: 0px auto;
}

@media ( max-width: 768px ) {
    .mainhomepage #midlevelcontainer {
        margin: 0px auto 0;
    }
}

.mainhomepage hr {
    border-color: #DADADA;
    border-image: none;
    border-right: 0 none;
    border-style: solid none none;
    border-width: 1px 0 0;
    margin-bottom: 15px;
    margin-top: 0px;
}

/* CONTENT  */

#content_container /*USED IN HOMEPAGE & LIBGUIDES */ {
    margin: 0px;
    padding: 0;
    width: 1170px;
    display: inline-block;
    line-height: 1.75;
}

@media ( max-width: 1199px ) {
    #content_container {
        width: 100%;
    }
}

#content /*USED IN LIBGUIDES, NOT HOMEPAGE */{
    margin: 0;
    padding: 0;
    width: 980px;
    float: right;
    display: inline-block;
}

@media ( max-width: 1199px ) {
    #content {
        width: 80%;
    }
}

@media ( max-width: 768px ) {
    #content {
        width: 100%;
    }
}

#content_container ul li {
    line-height: 1.5;
    padding-top: 2px;
    padding-bottom: 2px;
}

/* THE BC LIBRARY FRONT HOMEPAGE */

.blocks_left {
    width: 60%;
    margin: 0;
    float: left;
}

.block_right {
    width: 40%;
    height: 100%;
    margin: 0;
    float: right;
    border-left: 5px solid #FFFFFF;
    background: none repeat scroll 0 0 #eaeaea;
}
@media ( max-width: 768px ) {
    .block_right {
        display: none;
 }}

@media ( max-width: 768px ) {
    .block_left,
    .block_right {
        width: 100%;
        margin: 0px;
        float: none;
    }
}

#block_search {
    background: none repeat scroll 0 0 #EAEAEA;
    display: inline-block;
    min-height: 110px;
    margin: 0;
    padding: 19px 10px 10px 10px;
    width: 60%;
}

@media ( max-width: 768px ) {
    #block_search {
        height: auto;
        width: 100%;
        padding: 10px 0;
        margin: 0;
        display: inline-block;
    }
}

#block_databases {
    background: none repeat scroll 0 0 #EAEAEA;
    display: inline-block;
    min-height: 103px;
    padding: 20px 7px 7px 7px;
    width: 60%;
}
@media ( max-width: 1199px ) {
    #block_databases {
        padding: 5px;
    }
}

@media ( max-width: 768px ) {
    #block_databases {
        height: auto;
        width: 100%;
        padding: 0px;
        margin: 0px 0px 10px 0px;
        display: inline-block;
        border-left: 0px solid #FFFFFF;
    }
}

#block_databases h2 {
    margin: 0 0 10px 0;
    font-size: 14px;
}

#block_quick_links {
    padding: 33px 20px 10px 38px;
    margin-left: auto;
    font-size: 15px;
    width: 100%;
    float: left;
    min-height: 219px;
}
@media ( max-width: 1199px ) {
    #block_quick_links {
    padding: 30px;
    margin-left: auto;
    font-size: 13px;
    }
}
@media ( max-width: 991px ) {
    #block_quick_links {
        min-height: 262px;
}}
@media ( max-width: 768px ) {
    #block_quick_links {
        display: none;
    }
}

#block_quick_links ul {
    margin: 0;
    padding: 0;
    width: 50%;
    float: left;
}
@media ( max-width: 1199px ) {
    #block_quick_links ul {
        margin: 0;
        padding: 0 10px;
    }
}

#block_quick_links ul li {
    list-style: none;
    padding: 0 0 14px;
    line-height: 1.2;
}
@media ( max-width: 768px ) {
    #block_quick_links {
        width: 100%;
        padding: 0px;
        margin: 0 0 10px 0;
    }
    #block_quick_links ul {
        width: 50%;
        padding: 0px;
        margin: 0 0 10px 0;
        display: inline-block;
        float: left;
    }
}

.block_whatam {
    width: 40%;
    min-height: 110px;
    margin: 0;
    padding: 5px 10px;
    float: right;
    border-left: 5px solid #FFFFFF;
    background: none repeat scroll 0 0 #eaeaea;
}
@media ( max-width: 768px ) {
    .block_whatam  {
        height: auto;
        min-height: 50px;
        width: 100%;
        margin: 0;
        border-left: 0px;
        display: inline-block;
    }
}


.twitterwidget {
    height: 350px;
    padding: 10px 20px 50px 15px;
}

.highlight {
    padding: 10px;
    min-height: 180px;
    width: 40%;
    float: right;
    position: relative;
    border-left: 5px solid #fff;
}
@media ( max-width: 768px ) {
    .highlight {
        width: 100%;
}}

.highlight img {
    float: left;
    height: 120px;
    border: 1px solid #666;
    padding: 2px;
    margin: 0 10px 0 0;
}
@media ( max-width: 1199px ) {
    .highlight img {
        height: 100px;
    }
}

.highlight cite {
    display: block;
}

.highlight cite, .highlight cite a, .highlight cite a:visited {
    font-style: italic;
    font-size: 16px;
    line-height: 1.4;
}

.highlight .author {
    line-height: 1.4;
    margin-bottom: 1em;
}

.highlight p {
    line-height: 1.4;
    color: #333;
}

.find {
    background: url("/theme/img/pane_offsite.png") no-repeat scroll 100% 50% rgba(0, 0, 0, 0) !important;
    padding: 0 35px 0 0;
}

/* REAL ESTATE SECTION CSS */

.realestate {
    background: none repeat scroll 0 0 #EAEAEA;
    padding: 10px 10px 10px 20px;
    min-height: 170px;
    width: 60%;
    display: inline-block;
    margin: 10px 0 0 0;
}
@media ( max-width: 768px ) {
    .realestate {
        width: 100%;
}}

.realestate .button {
    position: relative;
}

.realestate .button a {
    background: #05506d;
    color: #fff;
    width: 33%;
    height: 65px;
    display: inline-block;
    float: left;
    margin: 0;
    width: 33%;
    font-size: 35px;
    border-left: 2px solid #eaeaea;
    border-bottom: 2px solid #eaeaea;
    transition: background-color .2s ease-out 0s;

}
@media ( max-width: 1199px ) {
    .realestate .button a {
        font-size: 25px;
    }
}
@media ( max-width: 950px ) {
    .realestate .button a {
        width: 50%;
    }
}

.realestate .button a:hover {
    background: #32758f;
    text-decoration: none;
}

.realestate .button a p {
    text-align: left;
    font-size: 15px;
    padding: 20px 10px;
}


/* REAL ESTATE ICON CSS */

.icon_rss:before { /* RSS FEED ICON */
    font-family: "icomoon";
    content: "\e684";  
    margin: 0 10px;
    float: left;
}

.icon_video:before { /* VIDEO ICON */
    font-family: "icomoon";
    content: "\e630";  
    margin: 0 10px;
    float: left;
}

.icon_picture:before { /* PHOTOGRAPH ICON */
    font-family: "icomoon";
    content: "\e62f";  
    margin: 0 10px;
    float: left;
}

.icon_book:before { /* CLOSED BOOK ICON */
    font-family: "icomoon";
    content: "\e626";  
    margin: 0 10px;
    float: left;
}

.icon_openbook:before { /* AN OPEN BOOK ICON */
    font-family: "icomoon";
    content: "\e649";  
    margin: 0 10px;
    float: left;
}

.icon_document:before { /* DOCUMENT ICON */
    font-family: "icomoon";
    content: "\e635";  
    margin: 0 10px;
    float: left;
}

.icon_layers:before { /* LAYERED ICON, LOOKS LIKE A BLOCK OF LASAGNA */
    font-family: "icomoon";
    content: "\e63c";  
    margin: 0 10px;
    float: left;
}

.icon_file:before { /* FILE ICON */
    font-family: "icomoon";
    content: "\e60a";  
    margin: 0 10px;
    float: left;
}

.icon_files:before { /* TWO FILES ICON */
    font-family: "icomoon";
    content: "\e636";  
    margin: 0 10px;
    float: left;
}

.icon_map:before { /* MAP ICON */
    font-family: "icomoon";
    content: "\e60d";  
    margin: 0 10px;
    float: left;
}

.icon_pie:before { /* PIECHART ICON */
    font-family: "icomoon";
    content: "\e610";  
    margin: 0 10px;
    float: left;
}

.icon_plus:before { /* PLUS SIGN ICON */
    font-family: "icomoon";
    content: "\e669";  
    margin: 0 10px;
    float: left;
}

.icon_bookmark:before { /* BOOKMARK ICON */
    font-family: "icomoon";
    content: "\e67b";  
    margin: 0 10px;
    float: left;
}

.icon_newspaper:before { /* NEWSPAPER ICON */
    font-family: "icomoon";
    content: "\e600";  
    margin: 0 10px;
    float: left;
}

@media ( max-width: 1199px ) {
    .icon_rss:before { /* RSS FEED ICON */
        margin: 10px 5px;
    }

    .icon_video:before { /* VIDEO ICON */
        margin: 10px 5px;
    }

    .icon_picture:before { /* PHOTOGRAPH ICON */
       margin: 10px 5px;
    }

    .icon_book:before { /* CLOSED BOOK ICON */
        margin: 10px 5px;
    }

    .icon_openbook:before { /* AN OPEN BOOK ICON */
        margin: 10px 5px;
    }

    .icon_document:before { /* DOCUMENT ICON */
        margin: 10px 5px;
    }

    .icon_layers:before { /* LAYERED ICON, LOOKS LIKE A BLOCK OF LASAGNA */
        margin: 10px 5px;
    }

    .icon_file:before { /* FILE ICON */
        margin: 10px 5px;
    }

    .icon_files:before { /* TWO FILES ICON */
        margin: 10px 5px;
    }

    .icon_map:before { /* MAP ICON */
        margin: 10px 5px;
    }

    .icon_pie:before { /* PIECHART ICON */
        margin: 10px 5px;
    }

    .icon_plus:before { /* PLUS SIGN ICON */
        margin: 10px 5px;
    }

    .icon_bookmark:before { /* BOOKMARK ICON */
        margin: 10px 5px;
    }

    .icon_newspaper:before { /* NEWSPAPER ICON */
        margin: 10px 5px;
    }
}
@media ( max-width: 399px ) {
    .icon_rss:before { /* RSS FEED ICON */
        display: none;
    }

    .icon_video:before { /* VIDEO ICON */
        display: none;
    }

    .icon_picture:before { /* PHOTOGRAPH ICON */
       display: none;
    }

    .icon_book:before { /* CLOSED BOOK ICON */
        display: none;
    }

    .icon_openbook:before { /* AN OPEN BOOK ICON */
        display: none;
    }

    .icon_document:before { /* DOCUMENT ICON */
        display: none;
    }

    .icon_layers:before { /* LAYERED ICON, LOOKS LIKE A BLOCK OF LASAGNA */
        display: none;
    }

    .icon_file:before { /* FILE ICON */
        display: none;
    }

    .icon_files:before { /* TWO FILES ICON */
        display: none;
    }

    .icon_map:before { /* MAP ICON */
        display: none;
    }

    .icon_pie:before { /* PIECHART ICON */
        display: none;
    }

    .icon_plus:before { /* PLUS SIGN ICON */
        display: none;
    }

    .icon_bookmark:before { /* BOOKMARK ICON */
        display: none;
    }

    .icon_newspaper:before { /* NEWSPAPER ICON */
        display: none;
    }
}

/*BC LIBRARY FRONT HOMEPAGE SUPER SEARCH STYLE */

#block_search .col-xs-12 {
    padding-left: 0;
    padding-right: 0;
}

#block_search .nav > li {
    margin-bottom: -3px;
    height: 30px;
    border-right: 3px solid #eee;
}

#block_search .nav-tabs {
    border-bottom: 0;
}

#block_search .nav-tabs > li > a {
    border: 1px solid transparent;
    border-radius: 0;
    line-height: 1;
    margin-right: 0px;
    color: #555;
    background: #B5B5B5;
    border-top: 2px solid #d8d8d8;
}

#block_search .nav > li > a {
    display: block;
    padding: 7px 15px;
    position: relative;
}

@media ( max-width: 400px ) {
    #block_search .nav > li > a {
        font-size: 10px;
        padding: 10px 15px;
    }
}

#block_search .nav > li > a:hover, .nav > li > a:focus {
    background-color: #939393;
    text-decoration: none;
    outline: 0 none;
}

#block_search .nav-tabs > li.active > a,
#block_search .nav-tabs > li.active > a:hover,
#block_search .nav-tabs > li.active > a:focus {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #939393;
    border: 0;
    color: #fff;
    cursor: default;
    outline: 0 none;
    border-top: 2px solid #B5B5B5;
}

#block_search .input-group {
    border-collapse: separate;
    display: table;
    position: relative;
    background: #939393;
    border: 0;
    padding: 5px;
    width: 100%;
    border-bottom: 2px solid #B5B5B5;
}

#block_search .input-group .form-control {
    float: left;
    margin-bottom: 0;
    position: relative;
    width: 85%;
    z-index: 2;
}

#block_search .input-group .form-control:first-child {
    border-radius: 0;
    background: #fff;
    border: 0px;
    border-bottom: 2px solid #B5B5B5;
}

#block_search .input-group-btn > .btn {
    background: none repeat scroll 0 0 #990000;
    border-left: #C50000;
    border-right: #710000;
    border-radius: 0 0 0 0;
    border-style: none solid;
    border-width: 0 3px;
    height: 34px;
    margin-left: 0;
    width: 100%;
}

#block_search .input-group-btn > .btn:hover {
    background: #710000;
    border-left: 3px solid #990000;
    border-right: 3px solid #510000;
}

#block_search .glyphicon {
    color: #fff;
}

/* FOOTER */

#footer {
    background: #fff;
    width: 1200px;
    min-height: 285px;
    padding: 10px 20px 0 20px;
    margin: 0 auto;
    color: #666;
}
@media ( max-width: 1199px ) {
    #footer {
        width: 100%;
        padding: 0px;
    }
}

#footer h1 {
    font-size: 15px;
    font-weight: normal;
    margin: 0 0 10px;
    padding: 0;
    text-transform: uppercase;
}

#footer ul {
    margin: 0px;
    padding: 0px;
}

#footer li {
    list-style: none;
    margin: 0 -10px;
    padding: 1px 0 0 10px;
}

.f_column {
    width: 25%;
    margin: 0px;
    padding: 0 0 0 25px;
    float: left;
    border-right: 1px solid #DADADA;
    height: 230px;
    font-size: 13px;
}
@media ( max-width: 1050px ) {
    .f_column {
        width: 50%;
        border-bottom: 1px solid #dadada;
        margin: 0 0 15px 0;
    }
}
@media ( max-width: 550px ) {
    .f_column {
        width: 100%;
        border-right: 0px;
        height: 100%;
    }
}
@media ( max-width: 1050px ) {
    .no_right_border {
        border-right: 0px;
    }

    .no_bottom_border {
        border-bottom: 0px;
    }
}
@media ( max-width: 550px ) {
    .no_bottom_border {
        border-bottom: 1px solid #dadada;
    }
}

.column_hours {
    border-right: 0px;
    width: 50%;
}
@media ( max-width: 1050px ) {
    .column_hours {
        width: 100%;
    }
}

#copyright {
    padding: 0;
    font-style: italic;
    font-size: 11px;
    line-height: 1;
}

/* SOCIAL MEDIA ICONS */

#f_media {
    margin: 0 0 15px 0;
    padding: 0;
    text-align: center;
}

#f_media ul {
    margin: 0 0px 0 0;
    padding: 0 0 0 0;
    display: inline;
}

#f_media ul li {
    display: inline-block;
    list-style: none;
    margin: 0 0px 0 0;
    padding: 0;
}

#icon_blogs {
    background: url("/theme/img/icon_blogs.png") no-repeat -10px 0px;
    text-indent: -9999px;
    height: 40px;
    width: 40px;
    display: block;
}

#icon_blogs:hover {
    background: url("/theme/img/icon_blogs.png") no-repeat -10px -40px;
}

#icon_facebook {
    background: url("/theme/img/icon_facebook.png") no-repeat -10px 0px;
    text-indent: -9999px;
    height: 40px;
    width: 40px;
    display: block;
}

#icon_facebook:hover {
    background: url("/theme/img/icon_facebook.png") no-repeat -10px -40px;
}

#icon_flickr {
    background: url("/theme/img/icon_flickr.png") no-repeat -10px 0px;
    text-indent: -9999px;
    height: 40px;
    width: 40px;
    display: block;
}

#icon_flickr:hover {
    background: url("/theme/img/icon_flickr.png") no-repeat -10px -40px;
}

#icon_twitter {
    background: url("/theme/img/icon_twitter.png") no-repeat -10px 0px;
    text-indent: -9999px;
    height: 40px;
    width: 40px;
    display: block;
}

#icon_twitter:hover {
    background: url("/theme/img/icon_twitter.png") no-repeat -10px -40px;
}

#icon_youtube {
    background: url("/theme/img/icon_youtube.png") no-repeat -10px 0px;
    text-indent: -9999px;
    height: 40px;
    width: 40px;
    display: block;
}

#icon_youtube:hover {
    background: url("/theme/img/icon_youtube.png") no-repeat -10px -40px;
}

/*OVERWRITING LIBGUIDES 2.0 */

#s-lg-guide-header-search /* THIS DISPLAYS THE VIEW/EDIT/PUBLISH BUTTONS WHEN EDITING. */       {
    float: right;
    margin: 20px;
}

#s-lg-add-page-icon
/*I GUESS THIS IS TOO, NOT SURE*/       {
    margin: 0px;
    display: inline;
    font-size: 12px;
}

#s-lg-admin-tab-add /* THIS IS THE + SIGN TO ADD A NEW PAGE */       {
    padding: 4px;
    margin: 0px;
    border: 2px solid #B29D6C;
}

#s-lg-admin-tab-add a {
    border: none;
    color: #444;
}

#s-lg-admin-tab-add a:hover {
    border: none;
    color: #fff;
}

.pager .previous > a, .pager .previous > span /* OVERWRITES PREVIOUS BUTTON */       {
    float: left;
}

.pager .next > a, .pager .next > span /* OVERWRITES NEXT BUTTON */      {
    float: right;
}

.pager li > a, .pager li > span /* OVERWRITES PREVIOUS/NEXT BUTTON STYLES*/      {
    background-color: transparent;
    border: 0px;
    border-radius: 0;
    display: inline-block;
    padding: 0;
    font-size: 17px;
}

.pager li > a:hover, .pager li > a:focus {
    background-color: transparent;
    text-decoration: underline;
}

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    min-height: 1px;
    padding-left: 5px;
    padding-right: 5px;
    position: relative;
}

/*EDITS TO BOXES, COLUMNS, ROWS, ETC. OVERWRITING SPRINGSHARE. */

.row
/*THIS SHOULD CONTROL THE ENTIRE ROW OF COLUMNS, MARGIN-TOP IS NEW. LEFT, RIGHT WERE TO KEEP IN LINE W/ SPRINGSHARE */        {
    margin: 0;
}

#s-lg-box-top
/* TOP BOX, IF IN USE */       {
    margin: 0px;
    padding: 0 10px;
}

.s-lib-box
/*THE INNER BOX ITSELF, WITH BORDERS, MARGIN, PADDING, SHADOW, * MORE */       {
    box-shadow: none;
    border: 0px;
    margin: 0px;
    color: #151515;
}

.edit-mode .s-lib-box-title
/* EFFECTS BOX TITLES. USES BOOTSTRAP STYLE WHEN IN EDIT MODE */       {
    border-bottom: 1px solid #CCC;
    padding: 3px 8px;
    font-size: 13px;
    color: #333;
    background: #fff;
}

.view-mode .s-lib-box .s-lib-box-title
/* EFFECTS BOX TITLES. USES HEADER STYLE WHEN IN VIEW-MODE. GUIDE GROUP ONLY. */       {
    border-bottom: 0 none;
    border-radius: 0 0 0 0;
    color: #05506d;
    font-size: 18px;
    font-weight: normal;
    line-height: 1;
    margin: 0 0 10px;
    padding: 0 8px;
    text-transform: uppercase;
    background: none;
}

.view-mode .libhomepage .s-lib-box-title
/* HIDES BOX TITLES FOR LIBRARY HOMEPAGES. */       {
    display: none !important;
}

.s-lg-row {
    margin: 0;
    padding: 0;
}

.s-lib-box-content {
    padding: 0 10px 15px 10px;
}

/* HACKED SIDE NAVIGATION  */

#s-lg-guide-tabs .nav-tabs {
    border-bottom: 0px;
}

@media ( max-width: 768px ) {
    #s-lg-guide-tabs .nav-tabs {
        display: none;
    }
}

#s-lg-guide-tabs .nav {
    list-style: none outside none;
    margin-bottom: 0;
    padding-left: 0;
}

#s-lg-guide-tabs
/*THIS OVERWRITES SPRINGSHARE'S DEFAULT TABS */       {
    font-size: 14px;
    margin: 1px 0 1px 0;
    padding: 0;
    width: 185px;
    display: inline-block;
}
@media ( max-width: 1199px ) {
    #s-lg-guide-tabs {
        width: 15%;
    }
}
@media ( max-width: 768px ) {
    #s-lg-guide-tabs {
        width: 100%;
    }
}

#s-lg-guide-tabs ul {
    margin: 0;
    padding: 0;
}

#s-lg-guide-tabs .nav-tabs li {
    display: list-item;
    list-style: none;
    margin: 0px 0px;
    text-align: center;
    float: none;
    line-height: 1.75;
    padding: 0;
}

#s-lg-guide-tabs .nav-tabs li a {
    border-bottom: 1px solid #fff;
    border-top: none;
    border-right: none;
    border-left: none;
    color: #990000;
    display: inline-block;
    padding: 5px 9px;
    text-decoration: none;
    width: 100%;
    background: #E9E9E9;
    border-radius: 0;
    margin-right: 0px;
}

#s-lg-guide-tabs .nav-tabs li a:hover {
    background: #B29D6C;
}

#s-lg-guide-tabs .nav-tabs .active a {
    background: #990000;
    color: #fff;
    text-decoration: none;
}

#s-lg-guide-tabs .nav .dropdown-menu /*THIS IS PART OF THE DROP DOWN FOR SIDE NAV */      {
    background-clip: padding-box;
    background-color: transparent;
    border: 0px;
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0 0px 0px rgba(0, 0, 0, 0);
    display: none;
    float: left;
    font-size: 14px;
    left: 0;
    list-style: none outside none;
    min-width: 160px;
    position: relative;
    top: 100%;
    z-index: 10;
    padding: 0 0 0 25px;
}

#s-lg-guide-tabs .nav-tabs .dropdown-menu > li > a,
#s-lg-guide-tabs .nav-tabs .active a .dropdown-menu > li > a
 /*THIS IS THE DROP DOWN TAB ITSELF*/       {
    clear: both;
    color: #990000;
    display: block;
    width: 160px;
    padding: 5px 20px;
    white-space: nowrap;
    border-top: 0px;
    border-right: 0px;
    border-left: 0px;
    background: #E9E9E9;
    height: 30px;
    margin: 0px;
    box-shadow: 4px 5px 3px rgba(0, 0, 0, 0.15);
}

#s-lg-guide-tabs .nav-tabs .dropdown-menu > li > a:hover,
#s-lg-guide-tabs .nav-tabs .active a .dropdown-menu > li > a:hover {
    background: #B29D6C;
}

/* THIS CONTROLS THE SUBNAVS WHEN ACTIVE */
#s-lg-guide-tabs .nav-tabs .dropdown-menu > li > a.active {
    background: #990000;
    color: #fff;
    text-decoration: none;
}

#s-lg-guide-tabs .nav-tabs .dropdown-menu > li > a.active:hover {
    background: #B29D6C;
}

        /* CSS TO TURN NAV TABS INTO NAV DROPDOWN */
nav select {
    display: none;
}
@media ( max-width: 768px ) {
    nav select {
        display: block;
        height: 24px;
        padding: 2px 4px;
        width: 100%;
        margin: 0 0 20px 0;
    }
}

/* ALL THE MEGA MENU STUFF */

/* menu styes */
.list-unstyled,
.list-unstyled ul {
    min-width: 120px
}

@media ( min-width: 768px ) {
    .panel-group {
        width: 400px;
    }

    .thumbnail {
        margin: 0;
    }
}

/* Grid demo styles */
.grid-demo {
    padding: 10px 30px;
}

.grid-demo [class*="col-"] {
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 1em;
    text-align: center;
    line-height: 2;
    background-color: #e5e1ea;
    border: 1px solid #d1d1d1;
}

/* YAMM STUFF */

.yamm .nav,
.yamm .collapse,
.yamm .dropup,
.yamm .dropdown {
    position: static;
}

.yamm .menu_container {
    position: relative;
}

.yamm .dropdown-menu {
    left: auto;
}

.yamm .nav.navbar-right .dropdown-menu {
    left: auto;
    right: 0;
}

.yamm .yamm-content {
    padding: 20px 0px;
    text-align: left;
}

.yamm .dropdown.yamm-fw .dropdown-menu {
    left: 0px;
    right: 0px;
}

@media ( max-width: 1199px ) {
    .yamm .dropdown.yamm-fw .dropdown-menu {
        left: 0;
        right: 0;
    }
}

/* HACKS AND EDITS TO BOOTSTRAP  */

#megamenu .container {
    width: 1200px;
    margin: 0 0 0 0;
    padding: 0 5px 0 0;
}
@media ( max-width: 1199px ) {
    #megamenu .container {
        width: 100%;
        margin: 0 0 0 0;
        padding: 0 0 0 0;
    }
}
@media ( max-width: 768px ) {
    #megamenu .container {
        width: 100%;
    }
}

#megamenu #wrapper {
    border: 1px solid red;
    width: 1200px;
    height: 500px;
    margin: 10px auto;
}
@media ( max-width: 768px ) {
    #wrapper {
        border: 1px solid blue;
        width: 100%;
        height: 1000px;
        margin: 10px auto;
    }
}

#megamenu .navbar-fixed-top, .navbar-fixed-bottom {
    left: 0;
    position: relative;
    right: 0;
    z-index: 1030;
}

.hamburger {
    background: transparent;
}

#megamenu .navbar {
    background: transparent;
    border: 0px;
    min-height: 35px;
    position: relative;
    border-radius: 0;
    background: transparent;
    z-index: 99;
    margin: 0;
}
@media ( max-width: 1199px ) {
    #megamenu .navbar {
        border: 0px;
        min-height: 35px;
        position: relative;
        border-radius: 0;
        background: transparent;
    }
}

#megamenu .navbar-collapse {
    border-top: 0px solid rgba(0, 0, 0, 0);
    box-shadow: 0 0 0 rgba(255, 255, 255, 0.1) inset;
    max-height: 340px;
    overflow-x: visible;
    padding: 0 0 0 0;
    margin: 50px 0 0 0;
}
@media ( max-width: 1199px ) {
    #megamenu .navbar-collapse {
        margin: 92px 0 0 0;
    }
}
@media ( max-width: 768px ) {
    #megamenu .navbar-collapse {
        margin: 100px 0 0 0;
    }
}
@media (min-width: 768px) {
    .navbar-collapse.collapse {
        display: block !important;
        height: auto !important;
        padding-bottom: 0;
        overflow: visible !important;
    }
}

#megamenu .navbar-nav {
    float: right;
    margin: 0;
    text-align: center;
    width: 56%;
    background: #fff;
}
@media ( max-width: 1199px ) {
    #megamenu .navbar-nav {
        width: 100%;
}}
@media ( max-width: 768px ) {
    #megamenu .navbar-nav {
        background: #FFFFFF;
    }
}

#megamenu .navbar-toggle {
    background-color: #990000;
    background-image: none;
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 0;
    float: right;
    margin: 55px 15px 0;
    padding: 13px;
    position: relative;
}
@media (min-width: 768px) {
    #megamenu .navbar-toggle {
        display: none;
    }
}

.navbar-toggle .icon-bar {
    background: none repeat scroll 0 0 #fff;
    border-radius: 1px 1px 1px 1px;
    color: #000000;
    display: block;
    height: 2px;
    width: 22px;
}

#megamenu .navbar-nav > li {
    bo rder-left: 2px solid #FFFFFF;
    display: inline-block;
    float: left;
    width: auto;
}
@media ( max-width: 1199px ) {
    #megamenu .navbar-nav > li {
        border: 0 none;
        float: none;
    }
}
@media ( max-width: 768px ) {
    #megamenu .navbar-nav > li {
        display: inline;
        float: none;
        width: 100%;
        background: transparent;
    }
}

#megamenu .navbar-nav > li#accounts {
    float: right;
}
@media ( max-width: 1199px ) {
    #megamenu .navbar-nav > li#accounts {
    float: none;
}}

#megamenu .navbar-nav > li > a {
    color: #990000;
    font-weight: bold;
    text-decoration: none;
    text-transform: capitalize;
    font-size: 14px;
    padding: 10px;
    height: 40px;
    margin: 0 0 0 0;
    text-align: center;
    outline: 0;
    background: #fff;
    transition: background-color 0.1s ease-out .0s;
}
@media ( max-width: 1199px ) {
    #megamenu .navbar-nav > li > a {
        padding: 10px 15px;
    }
}
@media ( max-width: 768px ) {
    #megamenu .navbar-nav > li > a {
        background: #05506d;
        border-bottom: 1px solid #FFFFFF;
        color: #fff;
    }
}

#megamenu .navbar-nav > li > a:focus {
    background: #05506d !important;
    color: #fff;
    outline: 0;
}

#megamenu .navbar-nav > li > a:hover {
    background: #05506d !important;
    color: #fff;
    outline: 0;
}

#megamenu .navbar-nav > .open > a, #megamenu .navbar-nav > .open > a:hover {
    background: #05506d !important;
    color: #fff !important;
}

#megamenu .navbar-nav > li > .dropdown-menu {
    border: 1px solid #dadada;
    border-top: none;
    border-radius: 0;
    margin-top: 0;
}

#megamenu .navbar-nav > li > .dropdown-menu > li:nth-child(1) {
    border-top: 3px solid #05506d;
}
@media ( max-width: 1199px ) {
    #megamenu .navbar-nav > li > .dropdown-menu {
        border: 0;
        border-radius: 0;
        margin-top: 0;
        font-size: 12px;
    }
    #megamenu .navbar-nav > li > .dropdown-menu > li:nth-child(1) {
        border-top: 3px solid #430000;
    }
}
@media ( max-width: 768px ) {
    #megamenu .navbar-nav > li > .dropdown-menu {
        border: 0;
        font-size: 14px;
    }
}

.dropdown-menu {
    background-clip: padding-box;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.4);
    display: none;
    float: left;
    font-size: 14px;
    left: 0;
    list-style: none outside none;
    margin: 2px 0 0;
    min-width: 160px;
    padding: 0;
    position: absolute;
    top: 100%;
    z-index: 1000;
}

/* CUSTOM MENU STYLING */

#megamenu {
    width: 1200px;
    height: 100px;
    margin: 0px auto;
    padding: 0;
    background: #fff;
}
@media ( max-width: 1199px ) {
    #megamenu {
        width: 100%;
        height: 95px;
        margin: 0px auto;
        background: #fff;
        display: inline-block;
    }
}
@media ( max-width: 768px ) {
    #megamenu {
        display: inline;
    }
}

.menu_list, .ask_list {
    list-style: none outside none;
    padding: 0px;
    margin: 0 0px;
    border-right: 1px solid #DADADA;
    padding: 0 25px;
}
@media ( max-width: 768px ) {
    .menu_list, .ask_list {
        list-style: none outside none;
        padding: 0px;
        margin: 0 0 10px 0;
        border-right: 1px solid #DADADA;
        padding: 0 25px;
        float: left;
        width: 100%;
    }
}

.libhelp-link {
    cursor: pointer;
}

.end {
    border: 0px;
}

.yamm .dropdown-menu li > a {
    display: block;
    padding: 3px 5px;
    margin: 0 0 0 -5px;
    clear: both;
    font-weight: normal;
    line-height: 20px;
    text-transform: capitalize !important;
    word-break: normal;
    outline: none;
    color: #666;
}

.yamm .dropdown-menu li > a p.tuck {
    padding: 0 0 0 12px;
}

.yamm .dropdown-menu li > a:hover,
.yamm .dropdown-menu li > a:focus {
    color: #990000;
    text-decoration: none;
    background: #E0E0E0;
}

.bottom_row {
    background: none repeat scroll 0 0 #EAEAEA;
    border-top: 1px solid #DADADA;
    margin: 10px 0 -20px;
    padding: 10px 0 10px;
}

.more {
    float: right;
    margin: 0 20px;
}

.more a {
    background: url("/theme/img/arrow_right.png") no-repeat scroll 95% 370% #d6d6d6;
    display: block;
    margin: 0 5px;
    padding: 15px 25px;
    width: 100%;
}

.more a:hover {
    background: url("/theme/img/arrow_right.png") no-repeat scroll 95% -260% #a3a3a3;
    text-decoration: none;
}

/* LIBRARY INFO DROP DOWN */

.libraryinfo-content {
    padding: 0 0px 0px 20px;
    text-align: left;
}

.item-list {
    list-style: none outside none;
    margin: 0;
    padding: 10px 0 0 25px;
    position: relative;
    border-right: 5px solid #DADADA;
}

.get-help-menu .item-list {
    padding: 0 0 0 25px;
}
@media ( max-width: 768px ) {
    .item-list {
        display: none;
    }
}

.yamm .dropdown-menu li .item-list > li > a:hover, .yamm .dropdown-menu li .item-list > li > a:hover {
    background: #eaeaea;
    color: #990000;
    text-decoration: none;
}

.item-list .selected a {
    color: #990000 !important;
    font-weight: normal !important;
    text-decoration: none;
    background: #dadada;
}

#bapst_pane, #burns_pane, #erc_pane, #law_pane, #oconnor_pane, #oneill_pane, #swl_pane, #tml_pane {
    width: 58%;
    height: auto;
    color: #666;
    padding: 0;
    display: none;
    position: absolute;
    right: 0;
    top: 0%;
}
@media ( max-width: 768px ) {
    #bapst_pane, #burns_pane, #erc_pane, #law_pane, #oconnor_pane, #oneill_pane, #swl_pane, #tml_pane {
        width: 100%;
        height: auto;
        color: #666;
        padding: 0;
        margin: 0 0 10px 0;
        display: inline-block !important;
        position: relative;
        border-bottom: 1px solid;
    }
}
@media ( max-width: 768px ) {
    .pane_info .col-sm-6 {
        width: 50%;
        float: left;
    }
}

.item_pane img {
    float: left;
    margin-right: 10px;
}

#h4mobile {
    display: none;
}
@media ( max-width: 768px ) {
    #h4mobile {
        display: inline-block;
    }
}

/* NEW LIBARY PANE CODE */

.item_pane p {
    line-height: inherit;
    text-align: left;
}

.item_pane .address {
    font-size: 11px;
}

.item_pane ul {
    padding: 0px 0 5px 0;
    margin: 0px;
}

.item_pane li {
    list-style: none;
}

.pane_pic {
    float: left;
    width: 25%;
    padding: 15px 10px;
}

@media ( max-width: 768px ) {
    .pane_pic {
        display: none;
    }
}

.pane_pic img {
    border: 2px solid #990000;
    width: 100%;
}

.pane_info {
    float: right;
    width: 75%;
    padding: 15px;
}

.get-help-menu .pane_info {
    float: none;
    width: 100%;
    padding: 0 15px 0 15px;
}
@media ( max-width: 768px ) {
    .pane_info {
        float: none;
        width: 100%;
        padding: 0px;
    }
}

.pane_info h3 a {
    background: url("/theme/img/pane_offsite.png") no-repeat scroll 100% 50% rgba(0, 0, 0, 0) !important;
    padding: 0 35px 0 0;

}

.libraryinfo-content #hours-col-l, .libraryinfo-content .hours-col-loc, .libraryinfo-content #hours-col-t {
    display: none !important;
}

.mini_hours_container,
#oconnor_hours_container {
    background: url("/theme/img/megabutton_time.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0) !important;
    font-size: 15px;
    height: 30px;
    margin: 0 auto;
    padding: 7px 0 7px 32px;
    text-align: left;
    width: 100%;
}

.mini_hours_container:hover {
    background: url("/theme/img/megabutton_time.png") no-repeat scroll 0 -39px rgba(0, 0, 0, 0) !important;
}

.mini_hours_container ul.lib_hours li.name,
.mini_hours_container ul.lib_hours li.day,
.mini_hours_container ul.lib_hours li.date {
    display: none;
}

.mini_hours_container ul.lib_hours li.status,
.mini_hours_container ul.lib_hours li.hours {
    display: inline-block;
}

.mini_hours_container ul.lib_hours li.status {
    text-transform: capitalize;
}

.mini_hours_container ul.lib_hours li.status:after {
    content: "\00A0";
}

#oconnor_hours_row ul.lib_hours,
#all_hours_container ul.lib_hours {
    padding: 2px 0;
}

#all_hours_container ul.lib_hours:nth-child(odd) {
    background-color: #EAEAEA;
}

#all_hours_container ul.lib_hours li.day,
#all_hours_container ul.lib_hours li.date {
    display: none;
}

#oconnor_hours_row ul.lib_hours li,
#all_hours_container ul.lib_hours li.status,
#all_hours_container ul.lib_hours li.name,
#all_hours_container ul.lib_hours li.hours {
    display: inline-block;
    margin: 0;
    padding: 1px 0 1px 4px;
    width: 40%;
    vertical-align: middle;
}

#oconnor_hours_row ul.lib_hours li.hours {
    width: 60%;
}

#all_hours_container ul.lib_hours li.status {
    width: 20%;
}

.megamenucalendar {
    background: url("/theme/img/megabutton_monthly.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0) !important;
    font-size: 15px;
    height: 30px;
    margin: 0 auto;
    padding: 7px 0 0 32px;
    text-align: left;
    width: 100%;
}

.megamenucalendar:hover {
    background: url("/theme/img/megabutton_monthly.png") no-repeat scroll 0 -39px rgba(0, 0, 0, 0) !important;
}

.megamenuphone {
    background: url("/theme/img/megabutton_phone.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0) !important;
    font-size: 15px;
    height: 30px;
    margin: 0 auto;
    padding: 7px 0 0 32px;
    text-align: left;
    width: 100%;
}

.megamenuphone:hover {
    background: url("/theme/img/megabutton_phone.png") no-repeat scroll 0 -39px rgba(0, 0, 0, 0) !important;
}

.megamenuemail {
    background: url("/theme/img/megabutton_email.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0) !important;
    font-size: 15px;
    height: 30px;
    margin: 0 auto;
    padding: 7px 0 0 32px;
    text-align: left;
    width: 100%;
}

.megamenuemail:hover {
    background: url("/theme/img/megabutton_email.png") no-repeat scroll 0 -39px rgba(0, 0, 0, 0) !important;
}

/*FEED BACK BUTTON EDITS */

.row_feedback {
    padding: 0;
    margin: 0 15px;
}

.row_feedback label {
    font-weight: normal;
}

.row_feedback .menu_input, .row_feedback select {
    width: 100%;
}

.row_feedback textarea {
    resize: none;
    width: 100%;
    height: 80px;
}

.form_section {
    background: #EAEAEA;
    padding: 5px;
}

.feedback_button {
    background: none repeat scroll 0 0 #990000;
    border-left: #C50000;
    border-right: #710000;
    border-radius: 0 0 0 0;
    border-style: none solid;
    border-width: 0 3px;
    height: 34px;
    margin-left: 0;
    width: 100%;
    color: #fff;
}

.feedback_button:hover {
    background: none repeat scroll 0 0 #710000;
    border-left: 3px solid #990000;
    border-right: 3px solid #510000;
}


/* CAROUSEL CSS */

#myCarousel {
    background: none repeat scroll 0 0 #eaeaea;
    padding: 5px;
    width: 60%;
    height: 350px;
    float: left;
}
@media ( max-width: 768px ) {
    #myCarousel {
        width: 100%;
        float: none;
    }
}

.carousel {
    position: relative;
    margin: 0;
    border: 0;
}

.carousel-inner {
    margin: 0 auto;
    margin: 18px auto;
    overflow: hidden;
    width: 90%;
}

.carousel-control {
    bottom: 0;
    color: #990000;
    font-size: 20px;
    left: 0;
    opacity: 1;
    position: absolute;
    text-align: center;
    text-shadow: 0 0 0;
    top: 0;
    width: 5%;
}

.carousel-control:hover, .carousel-control:focus {
    color: #666;
    opacity: 1;
    outline: 0 none;
    text-decoration: none;
}

.carousel-control .glyphicon-chevron-left, .carousel-control .glyphicon-chevron-right {
    background: rgba(0, 0, 0, 0);
    border-radius: 0%;
    font-size: 24px;
    height: 40px;
    margin-top: -10px;
    padding: 8px 2px 0 0px;
    width: 40px;
}

.carousel-control.left, .carousel-control.right {
    background-image: none;
    background-repeat: repeat-x;
    background: transparent;
    z-index: 100;
}

.carousel-control.right {
    left: auto;
    right: 0;
}
@media ( max-width: 768px ) {
    .carousel-control.right {
        left: auto;
        right: 0%;
    }
}

.img-responsive, .thumbnail > img, .thumbnail a > img, .carousel-inner > .item > img, .carousel-inner > .item > a > img {
    display: block;
    height: auto;
    max-width: 100%;
}
@media ( max-width: 768px ) {
    .img-responsive, .thumbnail > img, .thumbnail a > img, .carousel-inner > .item > img, .carousel-inner > .item > a > img {
        display: block;
        width: auto;
        max-width: none;
    }
}

.carousel-indicators {
    bottom: 10px;
    height: 5%;
    left: 0;
    list-style: none outside none;
    margin: 0;
    padding: 0;
    position: absolute;
    text-align: center;
    width: 100%;
    z-index: 15;
}

.carousel-indicators li {
    background-color: #666;
    border: 1px solid #666;
    border-radius: 0;
    cursor: pointer;
    display: inline-block;
    height: 10px;
    margin: 1px;
    text-indent: -999px;
    width: 10px;
}

.carousel-indicators .active {
    background-color: #990000;
    border: 1px solid #990000;
    height: 12px;
    margin: 0;
    width: 12px;
}

.carousel-caption {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.55);
    font-style: italic;
    bottom: auto;
    top: 0;
    left: 0;
    color: #fff;
    padding: 0 10px;
    text-align: left;
    text-shadow: none;
    overflow: hidden;
    right: 0;
}
@media ( max-width: 768px ) {
    .carousel-caption {
        width: 100%;
    }
}

.carousel-caption h4 a {
    font-size: 20px;
    font-style: italic;
    color: #fff;
}
@media ( max-width: 1199px ) {
    .carousel-caption h4 a {
        font-size: 25px;
    }
}
@media ( max-width: 768px ) {
    .carousel-caption h4 a {
        font-size: 30px;
    }
}

.carousel-caption p {
    font-size: 15px;
}
@media ( max-width: 1199px ) {
    .carousel-caption p {
        font-size: 12px;
    }
}

.carousel-caption h4 a:hover {
    text-decoration: underline;
    color: #fff;
}

.carousel-inner > .item
/*THIS CHANGES THE TIME OF THE SLIDE SHOW.  */     {
    transition: left .3s ease-in-out 0s;
}

.carousel-inner > .active {
    left: 0;
    height: 290px;
}

.carousel-inner > .active.left {
    height: 290px;
    left: -100%;
}

.carousel-inner > .next, .carousel-inner > .prev {
    position: absolute;
    top: 0;
    width: 100%;
}

.carousel-fade .carousel-inner .item {
    opacity: 0;
    transition: opacity .1s;
}

.carousel-fade .carousel-inner .active {
    opacity: 1;
}

.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
    left: 0;
    opacity: 0;
    z-index: 1;
}

.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
    opacity: 1;
}

.carousel-fade .carousel-control {
    z-index: 2;
}

html,
body,
.carousel,
.carousel-inner,
.carousel-inner .item {
    height: 290px;
}

/* BENTO BOX SEARCH RESULTS PAGE STYLE */

#all-results {
    margin-top: 0px;
}

#all-results img {
    padding: 2px;
    border: 1px solid #666;
}

#articles-results h3, #catalog-results h3, #librarians-results h3, #guides-results h3 {
    margin-top: 0;
    padding: 10px 7px;
    width: 50%;
    height: 30px;
    border-bottom: 1px solid #939393;
}

#librarians-results h3, #guides-results h3 {
    width: 100%;
}

#all-results .result-container li .title, .result-container li a,
#all-results .outside-result a, #all-results .more-results-link a {
    color: #990000;
    font-weight: normal !important;
}

#all-results .result-container li .title:hover, .result-container li a:hover,
#all-results .outside-result a:hover, #all-results .more-results-link a:hover {
    color: #990000;
    text-decoration: underline;
}

#all-results .result-container {
    min-height: 200px;
    background: none repeat scroll 0 0 #eaeaea;
    display: inline-block;
    width: 100%;
}

#all-results .more-results-link {
    display: inline-block;
    text-align: right;
    float: right;
    width: 50%;
    margin-top: 0;
    padding: 9px 7px;
    height: 30px;
    border-bottom: 1px solid #939393;
}

#all-results .result-container ul {
    clear: left;
    margin: 0;
    padding: 0;
}

#all-results .result-container ul li {
    clear: left;
    margin: 0;
    padding: 5px 7px;
}

#all-results .result-container > ul li:nth-child(even) {
    background: #dbdbdb;
}

#all-results #secondary {
    margin: 0;
    width: 40%;
    margin-bottom: 5px;
}

#all-results #primary {
    margin: 0;
    width: 40%;
    border-left: 5px solid #fff;
}

#all-results #tertiary {
    width: 20%;
    border-left: 5px solid #fff;
}
@media ( max-width: 1199px ) {
    #all-results #secondary {
    margin: 0;
    width: 50%;
    margin-bottom: 5px;
    }

    #all-results #primary {
    margin: 0;
    width: 50%;
    border-left: 5px solid #fff;
    }

    #all-results #tertiary {
    width: 50%;
    border-left: 5px solid #fff;
    }
}
@media ( max-width: 768px ) {
    #all-results #secondary {
    margin: 0;
    width: 100%;
    margin-bottom: 5px;
    }

    #all-results #primary {
    margin: 0;
    width: 100%;
    border-left: 5px solid #fff;
    }

    #all-results #tertiary {
    width: 100%;
    border-left: 5px solid #fff;
    }
}

#all-results .cover-image {
    float: left;
    width: 20%;
    background: url("/theme/img/results_book.png") no-repeat 50% 50%;
}

#all-results .loading {
    background: #eaeaea url(../img/gif-load.gif) no-repeat center 80px;
}

.chosen-container-single .chosen-single, .chosen-container-active.chosen-with-drop .chosen-single {
    background: #fff;
}

#subject_guides_chosen li {
    padding-left: 15px
}

#subject_guides_chosen li.optgroup, #subject_guides_chosen li.group-result {
    padding: 1em 0 0 0;
    font-weight: bold;
    font-size: 1.1em;
    line-height: 1.1
}

#subject_guides_chosen li.optgroup:first-child {
    padding: .5em 0 0 0;
}

.chosen-container-single .chosen-single span {
    color: #aaa
}

.chosen-container-single .chosen-single {
    border-radius: 0;
}

/* NEW CAROUSEL CSS */

.newsrow {
    min-height: 265px;
    display: block;
    position: relative;
}

#newsslider {
    min-height: 50px;
}

.caroufredsel_wrapper {
    min-height: 265px;
    width: 96% !important;
}
@media ( max-width: 1199px ) {
    .caroufredsel_wrapper {
        width: 90% !important;
    }
}

.wrapper {
    background-color: white;
    width: 480px;
    margin: 40px auto;
    padding: 50px;
    box-shadow: 0 0 5px #999;
}

.list_carousel {
    background: transparent;
    margin: 00px;
    width: 100%;
}
@media ( max-width: 1199px ) {
    .list_carousel {
       background: transparent;
        margin: 0 auto;
        width: 98%;
    }
}

.list_carousel ul {
    margin: 0 0 0 -10px !important;
    padding: 0;
    list-style: none;
    display: block;
}
.list_carousel li {
    background: #eaeaea;
    color: #999;
    display: block;
    float: left;
    height: 245px;
    margin: 10px 5px 0;
    padding: 5px !important;
    text-align: center;
    width: 230px;
    overflow: hidden;
}
@media ( max-width: 768px ) {
    .list_carousel li {
        margin: 10px 2px 0;
        padding: 5px !important;
        text-align: center;
        width: 185px;
        overflow: hidden;
}

}
.clearfix {
    float: none;
    clear: both;
}

.list_carousel img {
    border: 1px solid #666;
    padding: 1px;
    margin: 5px 0 0 0;
    width: 150px;
    height: 150px;
}

.list_carousel img:hover {
    border: 1px solid #990000;
}

.list_carousel .prev {
    border-right: 1px solid #eaeaea;
    float: left;
    -webkit-box-shadow: 11px 0 15px -7px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: 11px 0 15px -7px rgba(0, 0, 0, 0.6);
    box-shadow: 11px 0 15px -7px rgba(0, 0, 0, 0.6);
}

.list_carousel .next {
    border-left: 1px solid #eaeaea;
    float: right;
    -webkit-box-shadow: -11px 0px 15px -7px rgba(0,0,0,0.6);
    -moz-box-shadow: -11px 0px 15px -7px rgba(0,0,0,0.6);
    box-shadow: -11px 0px 15px -7px rgba(0,0,0,0.6);
}

.newsbutton {
    position: relative;
    z-index: 9;
    color: #990000;
    background: #fff;
    display: block;
    font-size: 25px;
    height: 265px;
    padding: 110px 0;
    text-align: center;
    width: 2%;
}
@media ( max-width: 1199px ) {
    .newsbutton {
        width: 5%;
    }
}

.list_carousel #prev:hover, 
.list_carousel #prev:focus {
    color: #430000 !important;
    text-decoration: none;
    outline: 0 none;
}

.list_carousel #next:hover, 
.list_carousel #next:focus {
    color: #430000 !important;
    text-decoration: none;
    outline: 0 none;
}

p.newslink {
    margin: 10px 0 0 0;
    font-size: 16px;
    line-height: 1.1;
}

/* ARTICLE PAGE STYLES */

.article_page  {
    margin: 25px 0;
}

.article_page img {
    border: 1px solid #666;
    margin: 0 10px 10px 0;
    padding: 1px;
    float: left;
}

.article_content {
    width: 90%;
    margin: 0 auto;
}
@media ( max-width: 1199px ) {
    .article_content {
    width: 100%;
    }
}
