<form method="get" action="" onsubmit="search()" name="searchAuto">
    <label for="searchbox" class="hidden">Search terms</label>
    <input id="searchbox"
           type="text"
           class="form-control"
           data-ng-model="asyncSelected"
           data-typeahead="suggestion as suggestion.text for suggestion in getLocation($viewValue)| filter:$viewValue | limitTo:5"
           data-typeahead-template-url="bc-autosuggest-entry"
           data-typeahead-wait-ms="80"
           data-typeahead-editable="true"
           data-typeahead-on-select="search($item,$model,$label)">
</form>

<!-- The template for an auto-suggest entry. -->
<script type="text/ng-template" id="bc-autosuggest-entry">
    <a>
        <span class="typeahead-label"
              data-bind-html-unsafe="match.model.label | typeaheadHighlight:query"></span>
        <span class="typeahead-subject"
              data-bind-html-unsafe="match.model.payload.type | typeaheadHighlight:query"></span>
    </a>
</script>