<!-- CUSTOM HEADER INFO. TO BE CUT AND PASTED INTO Custom <HEAD> TAB ON LIBGUIDES CMS -->
<!--link rel="stylesheet" href="//library.bc.edu/theme/css/fonts.css" /-->
<link rel="stylesheet" href="//library.bc.edu/theme/css/style.css" />
<link rel="stylesheet" href="//library.bc.edu/theme/css/icomoon.css"/>
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

<script type="text/javascript" src="//library.bc.edu/theme/js/bootstrap-hover-dropdown.min.js"></script>
<script type="text/javascript" src="//library.bc.edu/theme/js/jquery.hoverIntent.minified.js"></script>
<script type="text/javascript" src="//library.bc.edu/theme/js/modernizr.custom.js"></script>
<script type="text/javascript" src="//api2.libanswers.com/1.0/widgets/5468" async></script> 

<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
<script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
<![endif]-->

<!-- THIS IS THE SCRIPT THAT WILL ADD A CLASS TO THE BODY, TO ASSIST IN REMOVING
     DIVS BASED ON WHETHER WE ARE IN AUTHOR OR PUBLIC VIEW -->  
<script>
    $(document).ready(function(){((window.location.pathname).indexOf('admin_c.php')>-1)?$('body').addClass('edit-mode'):$('body').addClass('view-mode');});
</script>

<!-- THIS SCRIPT HIDES HEADER AND FOOTER ELEMENTS FROM WITHIN CANVAS IFRAME WIDGET -->
<style>
#iframe-message {background-color:#fffdf6; border:1px solid #ffeaae; -moz-border-radius: 10px; border-radius: 10px; padding:20px; margin:-15px 0 20px 0;}
</style>
<script>
    $(document).ready(function(){
        console.log(window.location.pathname);
        if ((window.location.pathname).indexOf('widget_')>-1){
            console.log("inside canvas");
            var fullurl = "http://libguides.bc.edu/";
            $("#midlevelcontainer").prepend('<div id="iframe-message"><div>You are viewing this page within an iframe.</div></div>');
            $.urlParam = function(name){
                var results = new RegExp('[\?&]' + name + '=([^&#]*)').exec(window.location.href);
                if (results==null){return null;} else {return decodeURI(results[1]) || 0;}
            }
            $('#sb-search,#megamenu,#s-lg-guide-header-meta,#footer,#bcheader_info').hide();
            $('#header').css({'border-bottom':'0', 'margin':'0 auto 0'});
            $('body').css({'margin-top':'0'});
            if ($.urlParam('s')) {
                fullurl += "az.php?s=" + $.urlParam('s');
            } else if ($.urlParam('g') && $.urlParam('p') ){
                fullurl += "c.php?g=" + $.urlParam('g') + "&p=" + $.urlParam('p');
            } else if ($.urlParam('guide_id')){
                fullurl += "c.php?g=" + $.urlParam('guide_id');
            } else {return;}
            $("#iframe-message").append('<div>The full URL of this page is <a href="' + fullurl + '" target="_blank">' + fullurl + '</a></div>')
        }
    });
</script>

<!-- PREVENT FLASH OF UNSTYLED CONTENT -->
<style>html.js { display:none}</style>
<script>$(function() { $("html.js").show(); });</script>

<!-- HIDE DESCRIPTION DISPLAY OPTIONS THAT USE HOVER OVER SINCE IT ISNT ACCESSIBLE  -->
<style>
    .edit-mode form #form-group-desc_pos .radio:nth-child(2),
    .edit-mode form #form-group-desc_pos .radio:nth-child(3) {display: none;}
</style>

<!-- INFO BUTTON STYLE -->
<style>
    a.more-info {display:inline-block; padding:0 8px 0 0; cursor:pointer; color:#000; text-shadow: 0 1px 0 #FFFFFF; opacity:.6; font-size:14px;}
    a.more-info:hover {opacity:1; color:#000;}
    .box-value {padding-left:5px;}
    .box-label {width:100px; display:inline-block; text-align:right;}
    .box-value textarea {width:425px; height:78px; margin-left:110px;}
</style>
<!-- INFO BUTTON SCRIPT -->
<script type="text/javascript" src="//arc.bc.edu/libhours/lg/guides/infobutton.js"></script>

<!-- Add padding to header area when in edit-mode -->
<script type="text/javascript">
    $(document).ready(function(){
        if ($("body.edit-mode").length > 0){$("#edit-mode-buffer").css("height", "55px");}
    });
</script>

<!-- FIXING ACTIVE SUBNAV MENUS AND BREADCRUMBS -->
<style>
    #s-lib-bc-site,
    #s-lib-bc-group {display: none;}
</style>

<!-- SCRIPT TO TURN SIDE NAVIGATION INTO DROPDOWNS ON MOBILE.  DO NOT REMOVE.  -->
    <script>
    /* DOM ready*/
    $(function() {
        var myNavID = "nav";
        /* For each nav menu, create a corresponding drop down menu */
        $("nav.drop-down").each(function(){
            if ($(this).attr("id")) {
                myNavID = "nav#" + $(this).attr("id");
            }
            
            //console.log("navID " + myNavID);
        
            /* Create the dropdown base */
            $("<select />").appendTo(myNavID);

            /* Create default option "Go to..." */
            $("<option />", {
                "selected": "selected",
                "value"   : "",
                "text"    : "Go to..."
            }).appendTo(myNavID + " select");

            /* Populate dropdown with menu items */
            $(myNavID + " a").each(function() {
                var el = $(this);
                var myText = el.text();
                if ($(el).parents(".s-lg-subtab-ul").length > 0) {
                    myText = "> " + el.text();
                }
                $("<option />", {
                    "value"   : el.attr("href"),
                    "text"      : myText
                }).appendTo(myNavID + " select");
            });

            /* To make dropdown actually work
            // To make more unobtrusive: http://css-tricks.com/4064-unobtrusive-page-changer/ */
            $(myNavID + " select").change(function() {
                window.location = $(this).find("option:selected").val();
            });
        });

    });
</script>

<!-- REMOVE LAST CRUMB ON SINGLE PAGE GUIDES -->
<script>
$(function() {
    if ($('#s-lg-guide-tabs li').length == 0) {
        $('.breadcrumb li:last').remove();
        $('.breadcrumb li:last').addClass('active');
        $('.breadcrumb li:last a').contents().unwrap();
    }
});
</script>

<style>
a.post-reply {display: none!important;}
div#comments {display: none!important;}
</style>