<body class="s-lg-guide-body libhomepage">
{{skip_link}}
<!-- <body class="s-lg-guide-body fullcontentwidth"> -->

<!-- THIS INCLUDED EVERYTHING IN HEADER CODE, SUCH AS #HEADER AND SEARCH BAR-->
{{public_header}} 

<!-- Return to site banner -->
<!--div class="github-fork-ribbon-wrapper left">
    <div class="github-fork-ribbon">
        <a href="http://www.bc.edu/libraries" style="color:#212028">To current Libraries site &#10132; </a>
    </div>
</div-->

<!-- TEMPORARY CODE TO MIMIC PROPOSED BC HEADER-->
<div id="bcheader"></div>

<!-- FULL PAGE WRAPPER -->
<div id="fullpagewrapper">

    <!-- BEGIN HEADER -->
       <div id="header">
        <div id="librarytitle">
           <img src="http://library.bc.edu/theme/img/bcheader_title.png" id="fakebctitle" alt="Boston College">
           <a href="http://library.bc.edu/"><h1>University Libraries</h1></a>
        </div>

        <div id="motto">
            <p>Value Beyond Discovery</p>
        </div>

        <div id="sb-search" class="sb-search">
            <form method="get" action="http://library.bc.edu/search">
                <input class="sb-search-input" placeholder="Search the BC Libraries" type="text" value="" name="any" id="search">
                <input class="sb-search-submit" type="submit" value="">
                <span class="sb-icon-search"></span>
            </form>
        </div>

        <!-- MENU BEGINS HERE -->
        <div id="megamenu">
            <!-- BEGIN NAVBAR -->
            <div class="navbar yamm">
                <!-- BEGIN CONTAINER -->
                <div class="container">
                    <div class="hamburger">
                        <button type="button" data-toggle="collapse" data-target="#navbar-collapse-1" class="navbar-toggle">
                        <span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
                    </div>
                    <!-- BEGIN NAVBAR-COLLAPSE -->
                    <div id="navbar-collapse-1" class="navbar-collapse collapse">
                        <ul class="nav navbar-nav">

                            <!-- Find Materials list -->
                            <li class="dropdown yamm-fw"><a href="#" data-toggle="dropdown" class="dropdown-toggle">Find Materials</a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <!-- Content container to add padding -->
                                        <div class="yamm-content">
                                            <div class="row">
                                                <!-- By Format -->
                                                <ul class="col-sm-3 menu_list">
                                                    <li><h4><a href="#">By Format</a></h4></li>
                                                    <li><a href="#">Books and published materials</a></li>
                                                    <li><a href="#">Manuscripts and archives</a></li>
                                                    <li><a href="#">Maps and atlases</a></li>
                                                    <li><a href="#">Music and audio/visual recordings</a></li>
                                                    <li><a href="#">Photographs, prints, and other images</a></li>
                                                </ul>

                                                <!-- Major Collecting Areas -->
                                                <ul class="col-sm-3 menu_list">
                                                    <li><h4><a href="#">Major Collecting Areas</a></h4></li>
                                                    <li><a href="#">Boston</a></li>
                                                    <li><a href="#">British Catholic authors</a></li>
                                                    <li><a href="#">Ireland, Irish Americans</a></li>
                                                    <li><a href="#">University Archives</a></li>
                                                </ul>

                                                <!-- Other Subjects -->
                                                <ul class="col-sm-3 menu_list">
                                                    <li><h4><a href="#">Other Subjects</a></h4></li>
                                                    <li><a href="#">American History and Literature</a></li>
                                                    <li><a href="#">Art, Architecture, Performing Arts</a></li>
                                                    <li><a href="#">Caribbean and West Africa</a></li>
                                                    <li><a href="#">Nursing</a></li>
                                                    <li><a href="#">And many more...</a></li>
                                                </ul>

                                                <!-- Resources -->
                                                <ul class="col-sm-3 menu_list end">
                                                    <li><h4><a href="#">Resources</a></h4></li>
                                                    <li><a href="#">Search our catalog</a></li>
                                                    <li><a href="#">Browse our archival collections</a></li>
                                                    <li><a href="#">Explore our digitial collections</a></li>
                                                    <li><a href="#">Ask a subject specialist</a></li>
                                                    <li><a href="#">Contact Burns Library reference</a></li>
                                                </ul>
                                            </div>

                                            <div class="row bottom_row">
                                                <div class="more"><a href="#" title="Find More">Find More</a></div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </li>

                            <!-- Using the Burns Library list -->
                            <li class="dropdown yamm-fw"><a href="#" data-toggle="dropdown" class="dropdown-toggle">Using Burns Library</a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <!-- Content container to add padding -->
                                        <div class="yamm-content">
                                            <div class="row">
                                                <!-- Resources For -->
                                                <ul class="col-sm-4 menu_list">
                                                    <li><h4><a href="#">Resources For</a></h4></li>
                                                    <li><a href="#">BC students and faculty</a></li>
                                                    <li><a href="#">BC alumni</a></li>
                                                    <li><a href="#">General public</a></li>
                                                    <li><a href="#">Researchers</a></li>
                                                </ul>

                                                <!-- Reference and Instruction -->
                                                <ul class="col-sm-4 menu_list">
                                                    <li><h4><a href="#">Reference and Teaching</a></h4></li>
                                                    <li><a href="#">Ask a question</a></li>
                                                    <li><a href="#">Find materials</a></li>
                                                    <li><a href="#">Request reproductions</a></li>
                                                    <li><a href="#">Schedule a class visit</a></li>
                                                    <li><a href="#">See examples of student research</a></li>
                                                </ul>

                                                <!-- Planning Your Visit -->
                                                <ul class="col-sm-4 menu_list end">
                                                    <li><h4><a href="#">Planning Your Visit</a></h4></li>
                                                    <li><a href="#">Hours and reading room policies</a></li>
                                                    <li><a href="#">Directions and parking</a></li>
                                                    <li><a href="#">Group tours</a></li>
                                                    <li><a href="#">Building photography policy</a></li>
                                                    <li><a href="#">Boston College events calendar</a></li>
                                                </ul>
                                            </div>

                                            <div class="row bottom_row">
                                                <div class="more"><a href="#">More Using Burns Library</a></div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </li>

                            <!-- About Us list -->
                            <li class="dropdown yamm-fw"><a href="#" data-toggle="dropdown" class="dropdown-toggle">About Us</a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <!-- Content container to add padding -->
                                        <div class="yamm-content">
                                            <div class="row">
                                                <!-- Mission, History, Staff -->
                                                <ul class="col-sm-3 menu_list"  style="padding-top: 10px;">
                                                    <li><h4>Mission, History, Staff</h4></li>
                                                    <li><a href="#">Our mission</a></li>
                                                    <li><a href="#">Our history</a></li>
                                                    <li><a href="#">Our building</a></li>
                                                    <li><a href="#">Our staff</a></li>
                                                </ul>

                                                <!-- BURNS LIBRARY INFO CAN GO HERE -->
                                                <div class="col-sm-9">
                                                    <!-- BURNS PANE BEGINS HERE -->
                                                    <div  class="item_pane">
                                                        <div class="pane_info">
                                                            <h3><a href="http://libguides.bc.edu/burns">Burns Library</a></h3>
                                                             <p class="address">140 Commonwealth Avenue<br>Chestnut Hill, MA 02467-3810</p>
                                                             <p>Located in the original Bapst Library building on Boston College's Chestnut Hill campus, the John J. Burns Library offers students, scholars, and the general public opportunities to engage with rare books, special collections, and archives.</p>

                                                            <ul class="col-sm-6">
                                                                <li><h4>Contact Info</h4></li>
                                                                <li class="megamenuphone"><p>(617) 552-4861</p></li>
                                                                <li class="megamenuemail"><p><a href="mailto:burnsref@bc.edu">burns@bc.edu</a></p></li>
                                                            </ul>

                                                            <ul class="col-sm-6">
                                                                <li><h4>Today's Hours</h4></li>
                                                                <li><div class="mini_hours_container" id="BurnsLibrary"></div></li>
                                                                <li class="megamenucalendar"><p><a href="http://libguides.bc.edu/hours">Burns Library Weekly Hours</a></p></li>
                                                            </ul>
                                                        </div>

                                                        <div class="pane_pic">
                                                            <a href="http://libguides.bc.edu/burns"><img alt="Burns Library home page" src="//library.bc.edu/theme/img/librarypane/librarythumbnails_burns.jpg"></a>
                                                        </div>
                                                    </div>
                                                    <!-- END BURNS PANE. RIGHT UP THERE-->
                                                </div>
                                            </div>
                                            <div class="row bottom_row">
                                                <!--div class="more"><a href="" title="About Us">More About the Libraries</a></div-->
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </li>

                            <!-- Donating Materials list -->
                            <li class="dropdown yamm-fw"><a href="#" data-toggle="dropdown" class="dropdown-toggle">Donations</a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <!-- Content container to add padding -->
                                        <div class="yamm-content">
                                            <div class="row">
                                                <!-- Donating Materials -->
                                                <ul class="col-sm-4 menu_list">
                                                    <li><h4><a href="#">Donating Materials</a></h4></li>
                                                    <li><a href="#">Gift acceptance policies</a></li>
                                                    <li><a href="#">Donation procedures</a></li>
                                                    <li><a href="#">Appraisal services</a></li>
                                                    <li><a href="#">Tax resources</a></li>
                                                </ul>

                                                <!-- Financial Support -->
                                                <ul class="col-sm-4 menu_list">
                                                    <li><h4><a href="#">Financial Support</a></h4></li>
                                                    <li><a href="#">For acquisitions</a></li>
                                                    <li><a href="#">For collections care</a></li>
                                                    <li><a href="#">For research &amp; scholarship</a></li>
                                                    <li><a href="#">For technology &amp; new initiatives</a></li>
                                                </ul>

                                                <!-- Recent Acquisitions -->
                                                <div class="col-sm-4 menu_list end">
                                                    <h4><a href="#">Recent Acquisitions</a></h4>
                                                    <p>...</p>
                                                </div>
                                            </div>

                                            <div class="row bottom_row">
                                                <div class="more"><a href="#">More about Donations</a></div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </li>

                            <!-- Get Help list -->
                            <li class="dropdown yamm-fw" style="display:none;"><a href="#" data-toggle="dropdown" class="dropdown-toggle">Get Help</a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <!-- Content container to add padding -->
                                        <div class="yamm-content">
                                            <div class="row">
                                                <ul class="col-sm-4 menu_list">
                                                    <li><h4><a href="http://libguides.bc.edu/research-help">Research Help</a></h4></li>
                                                    <li><a href="http://libguides.bc.edu/subjects">Guides by Subject</a></li>
                                                    <li><a href="http://libguides.bc.edu/subjects/course-guides">Guides by Course</a></li>
                                                    <li><a href="http://libguides.bc.edu/ask-a-librarian/contact">Subject Specialists</a></li>
                                                    <li><a href="http://libguides.bc.edu/subjects/general">How to... (use Holmes, cite sources, etc.)</a></li>
                                                </ul>

                                                <div class="iteminfo-content get-help-menu">
                                                    <ul class="col-sm-3 item-list">
                                                        <li><h4><a href="http://libguides.bc.edu/reference-desk">Ask A Librarian</a></h4></li>
                                                        <li class="ref_pane"><a href="http://libguides.bc.edu/reference-desk">Visit a Reference Desk</a></li>
                                                        <li class="faq_pane"><a href="http://answers.bc.edu/index.php">Frequently Asked Questions</a></li>
                                                        <li class="text_pane"><a href="#">Text us</a></li>
                                                        <li class="chat_pane"><a href="#" onClick="window.open('https://libraryh3lp.com/chat/ajcu-consortium@chat.libraryh3lp.com?skin=19965&title=Boston College/AJCU+Librarians&profile=cs-bostoncoll',     'chat', 'resizable=1,width=320,height=300'); return false;" style="cursor: pointer;">Chat with us</a></li>
                                                        <li class="email_pane"><a href="http://answers.bc.edu/q.php">Send us an Email</a></li>
                                                        <li class="call_pane"><a href="#">Call us</a></li>
                                                    </ul>

                                                    <h4 id="h4mobile">Help from anywhere</h4>

                                                    <!-- REFERENCE PANE BEGINS HERE -->
                                                    <div id="ref_pane" class="item_pane col-sm-5">
                                                        <div class="pane_info">
                                                            <a href="http://libguides.bc.edu/reference-desk"><img src="//library.bc.edu/theme/img/askicon_lib.png" alt="Reference Desk icon">
                                                            <h2>Visit a Reference Desk</h2></a>
                                                            <p>Ask us anything! We can help you find answers to your questions, resources for your projects, or refer you to other experts.</p>
                                                        </div>
                                                    </div>
                                                    <!-- END REF PANE. RIGHT UP THERE-->

                                                    <!-- FAQ PANE BEGINS HERE -->
                                                    <div id="faq_pane" class="item_pane col-sm-5">
                                                        <div class="pane_info">
                                                            <a href="http://answers.bc.edu/index.php"><img src="//library.bc.edu/theme/img/askicon_ask.png" alt="Library FAQ icon">
                                                            <h2>Frequently Asked Questions</h2></a>
                                                            <p>Get answers to frequently asked questions on the <a href="http://answers.bc.edu/index.php">Library's FAQ</a>.</p>
                                                        </div>
                                                    </div>
                                                    <!-- END FAQ PANE. RIGHT UP THERE-->

                                                    <!-- TEXT PANE BEGINS HERE -->
                                                    <div id="text_pane" class="item_pane col-sm-5">
                                                        <div class="pane_info">
                                                            <img src="//library.bc.edu/theme/img/askicon_text.png" alt="Text Us icon">
                                                            <h2>Text us</h2>
                                                            <p>Text 617-229-5222 for quick questions during weekday reference service hours.</p>
                                                        </div>
                                                    </div>
                                                    <!-- END TEXT PANE. RIGHT UP THERE-->

                                                    <!-- CHAT PANE BEGINS HERE -->
                                                    <div id="chat_pane" class="item_pane col-sm-5">
                                                        <div class="pane_info">
                                                            <a href="#" onClick="window.open('https://libraryh3lp.com/chat/ajcu-consortium@chat.libraryh3lp.com?skin=19965&title=Boston College/AJCU+Librarians&profile=cs-bostoncoll','chat','resizable=1,width=320,height=300'); return false;" style="cursor: pointer;"><img src="//library.bc.edu/theme/img/askicon_lib.png" alt="Chat With Us icon">
                                                            <h2>Chat with us</h2></a>
                                                            <p>24/7 research help from Librarians at BC and at participating Jesuit institutions across the country. <a onClick="window.open('https://libraryh3lp.com/chat/ajcu-consortium@chat.libraryh3lp.com?skin=19965&title=Boston College/AJCU+Librarians&profile=cs-bostoncoll',     'chat', 'resizable=1,width=320,height=300'); return false;" style="cursor: pointer;">Click here to chat with a Librarian.</a> </p>
                                                        </div>
                                                    </div>
                                                    <!-- END CHAT PANE. RIGHT UP THERE-->

                                                    <!-- EMAIL PANE BEGINS HERE -->
                                                    <div id="email_pane" class="item_pane col-sm-5">
                                                        <div class="pane_info">
                                                            <a href="http://answers.bc.edu/q.php"><img src="//library.bc.edu/theme/img/askicon_email.png" alt="Send Us An Email icon">
                                                            <h2>Send us an Email</h2></a>
                                                            <p>Get an <a href="http://answers.bc.edu/q.php">answer by email</a> within one day, Monday-Friday.</p>
                                                        </div>
                                                    </div>
                                                    <!-- END EMAIL PANE. RIGHT UP THERE-->

                                                    <!-- CALL PANE BEGINS HERE -->
                                                    <div id="call_pane" class="item_pane col-sm-5">
                                                        <div class="pane_info">
                                                            <img src="//library.bc.edu/theme/img/askicon_phone.png" alt="Call Us icon">
                                                            <h2>Call us</h2>
                                                            <p>(617) 552-4472</p>
                                                            <p>Call a Reference Librarian during regular reference service hours.</p>
                                                        </div>
                                                    </div>
                                                    <!-- END CALL PANE. RIGHT UP THERE-->
                                                </div>

                                            </div>
                                            <div class="row bottom_row">
                                                <div class="more"><a href="http://libguides.bc.edu/get-help">All Help</a></div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </li>

                            <!-- FEEDBACK FORM EMAIL -->
                           <li class="dropdown yamm-fw"><a href="#bcl-feedback" class="menu-option">
                           <span class="feedback"></span>Feedback</a>
                           </li>

                            <!-- MY ACCOUNTS BUTTON -->
                            <li class="dropdown yamm-fw" id="accounts" style="display:none;"><a href="http://libguides.bc.edu/my-accounts">
                            <i class="fa fa-user"></i> My Accounts</a>
                            </li>
                        </ul>
                    </div>
                    <!-- END NAVBAR-COLLAPSE -->
                </div>
                <!-- END CONTAINER -->
            </div>
            <!-- END NAVBAR -->
        </div>
        <!-- END MEGAMENU -->

    </div>
    <!-- END HEADER -->

    <!-- BEGIN MIDLEVELCONTAINER -->
    <div id="midlevelcontainer">
        <!--div class="pageurl">
            <p><a href="{{login_url}}">Staff Login</a></p>
        </div-->
        {{breadcrumbs}}

        <!-- THIS IS REALLY IMPORTANT. IT'S THE BAR WITH EVERY TOOL ON IT. DO NOT EXCLUDE -->
        {{ADMIN_CMD_BAR}} 

        <!-- THIS DIV DISPLAYS THE VIEW/EDIT/PUBLISH BUTTONS WHEN EDITING. -->
        <div class="pull-right">
        {{ADMIN_MINI_CMD_BAR}}
        </div>
        <div id="guidetitle">
            <h1>{{guide_title}}</h1><div class="colon">:</div> <h2>{{page_title}}</h2>
            <div id="burns-logo">Rare Books, Special Collections &amp; University Archives</div>
        </div>
        
        <div id="s-lg-guide-desc-container" class="pad-top-med">
            <!--<span id="s-lg-guide-description">{{guide_description}}</span>-->
        </div>

        <!--THIS DIV CLASS DISPLAYS THE PAGE URL, PAGE, AND COLUMN LAYOUT OPTIONS.
        SHOULD HAVE NO EFFECT ON PUBLIC SIDE.
        -->
        <div id="s-lg-guide-tabs-title-bar" class="container s-lib-side-borders"></div>

        <!-- THIS IS THE CONTENT AND COLUMNS. -->
        <a name="s-lg-guide-main" tabindex="-1"></a>
        <div id="content_container">
            <!-- THIS DISPLAYS THE TABS, IF THERE ARE TABS
            CURRENTLY A HACKED SIDE NAV. -->
            <div id="s-lg-guide-tabs">
                <nav>
                    <ul class="nav nav-tabs split-button-nav">
                        {{guide_nav}}
                    </ul>
  
                </nav>
            </div>

            <!-- I WONDER WHAT THIS IS? IF ONLY THERE WAS SOME CLUE. -->
            
               <div id="content">
                   {{content}}
                   {{page_prev_next_links}}
               </div>
            
        </div>  

        <!-- THIS MAKES A 'BACK TO TOP' ARROW APPEAR -->
        <div id="s-lib-scroll-top" title="Back to Top">
            <span class="fa-stack fa-lg">
              <i class="fa fa-square-o fa-stack-2x"></i>
              <i class="fa fa-angle-double-up fa-stack-1x" style="position:relative; bottom:2px;"></i>
            </span>
        </div>

        <!-- THIS LINE OF CODE IS RESPONSIBLE FOR THE POP UP BOXES DURING EDITING.
        REMOVING THIS MEANS DOOM FOR ALL -->
        <div id="s-lib-alert" title="">
            <div id="s-lib-alert-content"></div>
        </div>
    </div>
    <!-- END MIDLEVELCONTAINER -->

    <!-- GUIDE METADATA AND STAFF LOGIN BLOCK -->
    <div id="s-lg-guide-header-meta">
        <ul id="s-lg-guide-header-attributes">
            <li id="s-lg-guide-header-updated">
                <span class="s-lg-guide-label">Last Updated:</span> <span class="s-lg-text-greyout">{{guide_updated}}</span>
            </li>
            <li id="s-lg-guide-header-subjects">
                <span class="s-lg-text-greyout">{{guide_subjects}}</span>
            </li>
            <li id="s-lg-guide-header-tags">
                <span class="s-lg-text-greyout">{{guide_tags}}</span>
            </li>
        </ul>
        <div id="s-lib-footer-login-link">
            <a href="{{login_url}}">Staff Login</a>
        </div>
    </div>
    <!-- THIS INCLUDED EVERYTHING IN FOOTER CODE, SUCH AS #FOOTER -->
    {{public_footer}}
</div>
<!-- END FULL PAGE WRAPPER -->
</body>