<meta name="group" content="Burns Pages">

<!-- Burns styles -->
<style>
#guide-title h2 {text-transform: capitalize;}
#burns-logo {text-transform: capitalize; font-style: italic; font-size:18px}
.nopadding {padding:0;}
#banner-all {background-color:#f2ede8;}
#banner-left {padding:0 10px 0 0;}
#banner-right {padding:0 0px 0px 20px;}
#banner-right ul {margin-bottom:0;}
#banner-right .banner-item {padding:0; margin:0 0 10px 0;}
#banner-right .banner-item h3 {color:#fff; background-color:#333; margin:0; padding:5px 10px; font-size:20px; font-weight:bold;}
#banner-right .ask_resources {background-color:#AEC6CF; height:208px;}
#banner-right .resourcesfor {}
#banner-right .askus {}
#banner-right .askus p {padding:10px 0 0 20px; margin:0;}
#banner-right .visitus {background-color:#AEC6CF; height:208px; margin:0;}
#banner-right .visitus img {border:1px solid transparent;}
#banner-right .visitus img:hover {border:1px solid black;}
#banner-right .visitus-links {padding: 0 5px;}
#banner-right .visitus-links .status-msg {text-align:right;}

.column {padding:0; margin:0; }
.column .image {padding:0; margin:0; position: relative; wid th: 100%; /* for IE 6 */}
.column .column-content {padding:10px; min-height:160px;}
.column .column-content h3 {padding:0;}

.column .image h3 {position: absolute; top:0px!important; right:0!important; left:0!important; width: 100%; margin:0;}
.column .image h3 span {
    color: white; font: bold 20px/28px Helvetica, Sans-Serif; le tter-spacing: -1px; 
    background: rgb(0, 0, 0); /* fallback color */ background: rgba(0, 0, 0, 0.7); padding: 5px 10px;
    display:inline-block; width:100%;}
#explore {padding: 30px 0 10px 0; background-color:#f2ede8;}
#explore img {he ight:226px!important;}
#explore li {font-size:15px;}
#collections {padding-right:20px;}
#services {padding: 0 10px;}
#exhibits {padding-left:20px}

#music {background-color:#32758f; padding:20px;}
#music h3 {color:#151515;}
#music p {width:853px; margin:0 auto;}
#music .read-toggle {cursor:pointer;}

#socialmedia-slider {padding:20px 30px; background-color:#f2ede8;}
#social media-slider ul.bxslider li {margin:0 50px;}

#weekly_hours_container ul.dailyhours {padding:2px 0;}
#weekly_hours_container ul.dailyhours:nth-child(odd) {background-color:#EAEAEA;}
#weekly_hours_container ul.today {font-weight:bold; background-color:#32758f; color:#000;}
#weekly_hours_container ul.dailyhours li {display:inline-block; margin:0; vertical-align:center; padding: 1px 0 1px 4px;}
#weekly_hours_container ul.dailyhours li.day {width:30%;}
#weekly_hours_container ul.dailyhours li.date {width:30%;}
#weekly_hours_container ul.dailyhours li.hours {width:40%;}

@media (max-width: 1050px) {
   .f_column {border-right:none; margin-left:0;}
}
</style>